PRENOTAMI_USERNAME=prenotami_username
PRENOTAMI_PASSWORD=yaddayadda

EMAIL_USERNAME=emailusername
EMAIL_PASSWORD=emailpassword
EMAIL_SERVER=smtp.someserver.com
EMAIL_RECIPIENT=your@recipient-email.com
EMAIL_SENDER=your@sender-email.com